<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perfil</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/user-profile.css}">
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="user-profile-section">
		<div class="user-profile-infos">
			<div class="mt-1 info" id="user-id">
				<p>
					<strong>Id: </strong><br> <span th:text="${user.id}"></span>
				</p>
			</div>

			<div class="mt-1 info">
				<label class="form-label" for="usernameInput"><strong>Username</strong></label>
				<input class="form-control" type="text" id="usernameInput"
					th:value="${user.username}">
			</div>

			<div class="mt-1 info">
				<label class="form-label" for="emailInput"><strong>Email</strong></label>
				<input class="form-control" type="email" id="emailInput"
					th:value="${user.email}">
			</div>
			<div class="mt-1 info">
				<p>
					<strong>Role: </strong><br> <span th:text="${user.role.name}"></span>
				</p>
			</div>
			<button type="button" class="btn btn-primary"
				id="updateUserInfosButton" th:data-user-id="${user.id}"
				onclick="updateUserInfos(this)">Salvar</button>
		</div>


		<div class="change-password">
			<button type="button" class="btn btn-primary"
				id="updatePasswordButton" data-bs-toggle="modal"
				data-bs-target="#updatePassword">Trocar Senha</button>
		</div>

		<div class="modal fade" id="updatePassword" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="updatePasswordLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="updatePasswordLabel">Trocar
							de senha</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" id="csrfToken" />

						<div class="mb-3">
							<label for="currentPassword" class="form-label">Senha
								atual</label>
							<div class="input-group">
								<input type="password" class="form-control" id="currentPassword">
								<button type="button" class="btn btn-outline-secondary"
									onclick="togglePasswordVisibility('currentPassword')">
									<img src="/images/eye.png" alt="Mostrar/Esconder Senha"
										style="height: 1.5em;">
								</button>
							</div>
						</div>


						<div class="mb-3">
							<label for="newPassword" class="form-label">Nova senha</label>
							<div class="input-group">
								<input type="password" class="form-control" id="newPassword">
								<button type="button" class="btn btn-outline-secondary"
									onclick="togglePasswordVisibility('newPassword')">
									<img src="/images/eye.png" alt="Mostrar/Esconder Senha"
										style="height: 1.5em;">
								</button>
							</div>
						</div>

						<div class="mb-3">
							<label for="newPasswordConfirm" class="form-label">Confirme
								a nova Senha</label>
							<div class="input-group">
								<input type="password" class="form-control"
									id="newPasswordConfirm">
								<button type="button" class="btn btn-outline-secondary"
									onclick="togglePasswordVisibility('newPasswordConfirm')">
									<img src="/images/eye.png" alt="Mostrar/Esconder Senha"
										style="height: 1.5em;">
								</button>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary"
							th:data-user-id="${user.id}" onclick="updatePassword(this)">Salvar</button>
					</div>
				</div>
			</div>
		</div>


	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/user-profile.js}"></script>
</body>
</html>
